
<div>
    <app-homepage /> <!-- Only for Navbar -->
</div>

<div class="imgContainer">
    <div class="btncontainer">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    <button class="btn">LEARN MORE</button>
    <button class="btn" routerLink="/book-details-component" routerLinkActive="active" ariaCurrentWhenActive="page">BOOK REGISTER</button>
</div>
</div>
<div class="contentContainer">
    <div class="container2">
        <div class="column">
            <h3>Column</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="column">
            <h3>Column</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="column">
            <h3>Column</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
    </div>
</div>