<!--
<div class="main-container">
<div class="outer">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-7">
				<div class="panel border bg-white">
					<div class="Text-Container">
						<h3 class="pt-3 font-weight-bold justify-text-center">Login</h3>
					</div>
					<div class="panel-body p-3">
						<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
							<div class="form-group pt-3">
								<div class="input-field" [class.error]="loginForm.controls['username'].dirty && loginForm.hasError('required','username')"> 
									<span class="fa fa-user p-2"></span> <input formControlName="username" type="text" placeholder="Username" required> </div>
							</div>
							<small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required','username')" class="text-danger">*Username is required*</small>
							<div class="form-group pt-3">
								<div class="input-field" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')"> <span class="fa fa-lock px-2"></span> 
									<input formControlName="password" [type]="type" placeholder="Password"> <button type="button" (click)="hideShowPass()" class="bg-white text-muted"> <span class="fa {{eyeIcon}}"></span> </button>                                    </div>
							</div>
							<small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" class="text-danger">*Password is required*</small>
							<div class="form-inline fr mt-4"> <a id="forgot" data-bs-toggle="modal" data-bs-target="#exampleModal" class="font-weight-bold">Forgot password?</a> </div>
							<button type="submit" class="btn btn-primary btn-block mt-4 w-100">Login</button>
							<div class="text-center pt-4 text-muted">Don't have an account? <a id="forgot" href="#" routerLink="/user-signup-component">Sign up</a> </div>
						</form>
					</div>
					
				</div>
			</div>
		</div>
	</div>
  </div>
</div>
-->
 
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
			<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>

              <div class="form-outline form-white mb-4">
                <input formControlName="username" type="text" placeholder="Username" required class="form-control form-control-lg" />
                <label class="form-label" for="typeEmailX">Username</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input formControlName="password" [type]="type" placeholder="Password" id="typePasswordX" class="form-control form-control-lg" />
                <label class="form-label" for="typePasswordX">Password</label>
              </div>
		
              <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
              
              <div class="d-flex justify-content-center text-center mt-4 pt-1">
                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
              </div>

            </div>
			</form>
            <div>
              <p class="mb-0">Don't have an account? <a routerLink="/user-signup-component" class="text-white-50 fw-bold">Sign Up</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>