<app-homepage />


<div class="container3">

    <ng-container *ngIf="role === 'User'">
        <div class="UserContainer">
            <h3>Access Denied</h3>
        </div>
    </ng-container>
    <ng-container *ngIf="role === 'Admin'">
        <div class="container2">
            <div class="text-center text-white py-5">
                <h1 class="dispay-6 fw-bold">Book Register</h1>
            </div>
            <div class="row">
                <div class="col-6">
                    <app-book-detail-form />
                </div>
                <div class="col-6">
                    <ul class="list-group overflow-auto">
                        <li class="list-groupitem d-flex justify-content-between align-items-start mb-2 border px-4 py-3 rounded text-white"
                            *ngFor="let bd of service.list">
                            <div class="flex-grow-1 mouse-hover" (click)="populateForm(bd)">
                                <div class="fw-bold">Name: {{bd.bookName}}</div>
                                <div>Author: {{bd.bookAuthor}}</div>
                                <div>Genre: {{bd.bookGenre}}</div>
                            </div>
                            <span class="text-secondary"> <!--Delete Icon-->
                                <i class="fa-solid fa-trash-can fa-lg mouse-hover" (click)="onDelete(bd.bookId)"></i>
                            </span>

                        </li>
                    </ul>
                </div>
            </div>
            <div>
            </div>
        </div>
    </ng-container>



</div>

<router-outlet></router-outlet>